body {
    background-image: url(IMG/img01.jpg);
    background-color: white;
    font-size: 14px;
    background-image: url(IMG/img07.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    font-family: "Roboto-Light";
}
  .button {
                background-color: ghostwhite; 
                border: none;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-family: "Roboto-Thin";
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
}
            .button2:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
            }

div.transbox{
    padding: 10px;
    background-image: url(IMG/img03.jpg);
    opacity: 1;
    background-repeat: repeat-x;
}

 div.transbox h1{
     margin: 5%;
     text-align: center;
     font-weight: lighter;
     color: #FFFFFF;
    }
h2 {
    text-decoration: underline overline dotted red;
    opacity: 0.8;
}
p{
    color: whitesmoke;
    text-shadow: 1px 1px 5px grey;
}
a:hover {
  background-color: yellow;
}
p.clear {
  clear: both;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
   font-size: 8px;
    font-family: "MeriendaOne-Regular"; /* Font #2 */
   position: fixed;
   opacity: 0.8; 
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}